.about-section {
    height: calc(100vh - 4rem);
    max-height: 53rem;
    padding-top: 1.7rem;
}

.about-section h1 {
    text-align: center;
    margin: 0 0 0.5rem;
}

/* .image-container {

} */

.jhair-image {
    width: calc(100% - 1.5rem);
    height: 20rem;
    max-width: 80rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 10px 10px 0px var(--emphasis-color);
}

.info-container {
    padding: 0.5rem;
    font-size: 1.3rem;
}

@media screen and (min-width: 520px) {
    .info-container {
        padding: 0.5rem;
        font-size: 2rem;
    }
}

.jhair-info {
    padding: 0.5rem;
    max-width: 60rem;
    margin: 0 auto;
}