.about-section {
    padding-top: 1.5rem;
    background: var(--quaternary-color);
}

.about-section-image {
    height: auto;
    max-width: calc(100% - 1.5rem);
    display: block;
    margin: 0 auto 1rem;
    -o-object-fit: cover;
    object-fit: contain;
    -webkit-box-shadow: 10px 10px 0px var(--emphasis-color);
    box-shadow: 10px 10px 0px var(--emphasis-color);
}

.about-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0.7rem 0;
}

.about-section-info {
    padding: 0.5rem 0;
    max-width: 60rem;
    margin: 0 auto;
}

.about-section-info h1 {
    text-align: center;
    margin: 0 0 0.5rem;
    font-size: 1.5em;
}

.about-section-info h1:first-child {
    font-size: 2.5em;
}

.about-section-info h1:last-child {
    text-align: left;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    .about-section-info h1 {
        font-size: 2em;
    }

    .about-section-info h1:first-child {
        font-size: 3em;
    }

    .about-section-info {
        padding: 0.5rem;
    }
}
