* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: var(--quinary);
	/*cursor: url(../images/AccuracyCursor.png), auto;*/
}

@font-face {
	font-family: "Pixels";
	src: url(../Fonts/Silkscreen/slkscr.ttf);
}

@font-face {
	font-family: "Pixels";
	src: url(../Fonts/Silkscreen/slkscrb.ttf);
	font-weight: bold;
}

html {
	height: 100vh;
	--primary: #0a1a2f;
	--secondary: #04373b;
	--tertiary: #1a644e;
	--quaternary: #40985e;
	--quinary: #d1cb95;
}

body {
	background-color: var(--primary);
	font-family: Pixels;
	font-size: 4vh;
	overflow: hidden;
	position: relative;
	height: 100%;
}

@media screen and (max-width: 480px) {
	body {
		font-size: 1vh;
	}
}

@media screen and (max-width: 560px) {
	body {
		font-size: 2vh;
	}
}

.game-container {
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	/* When the game starts flex prevents plain from overflowing */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.start-game-animation {
	-webkit-animation: game-transition 1.5s ease-out 0s 1 forwards;
	        animation: game-transition 1.5s ease-out 0s 1 forwards;
}

@-webkit-keyframes game-transition {
	50% {
		top: -100%;
	}

	50.0000001% {
		top: 100%;
	}

	80% {
		top: 0px;
	}
}

@keyframes game-transition {
	50% {
		top: -100%;
	}

	50.0000001% {
		top: 100%;
	}

	80% {
		top: 0px;
	}
}

.score-tab {
	display: none;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0.5rem;
	border: 0.5vh solid var(--quaternary);
	border-bottom: none;
	font-size: 3vh;
}

.score-tab > .timer {
	display: none;
	margin: initial;
	font-size: inherit;
}

@media screen and (max-width: 480px) {
	.score-tab {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between	;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
}

@media screen and (max-width: 480px) {
	.score-tab input[type="button"] {
		font-size: 2vh;
	}
}

@media screen and (max-width: 560px) {
	.score-tab input[type="button"] {
		font-size: 1vh;
	}
}

.plain {
	/* flex-grow: 1;
	-ms-flex-positive: 1; */
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 1rem;
	position: relative;
	border: 0.5vh solid var(--quaternary);
}

@media screen and (max-width: 560px) {
	.plain {
		overflow: auto;
	}
}

@media screen and (max-width: 760px) {
	.plain {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

.results-tab {
	display: none;
	position: relative;
	border: 0.5vh solid var(--quaternary);
	padding: 1vh;
}

.close-results-button {
	height: 5vh;
	line-height: 0;
	position: absolute;
	right: 0.5vh;
	top: 0.5vh;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	     user-select: none;
}

.user-tab {
	border: 0.5vh solid var(--quaternary);
	padding: 2vh;
}

@media screen and (max-width: 560px) {
	.user-tab {
		font-size: 4vh;
	}

	.results-tab {
		font-size: 3.5vh;
	}
}

@media screen and (max-width: 768px) {
	.user-tab {
		width: 100%;
		border: none;
	}

	.results-tab {
		width: 100%;
		border: none;
	}
}

input, button, #TargetContainer {
	background: var(--secondary);
	border: 0.5vh solid var(--quaternary);
	font-family: inherit;
}

input, button {
	cursor: pointer;
}

label {
	text-align: center;
}

.target {
	position: absolute;
}

.target path {
	fill: var(--quinary);
}

.upper-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 0.5fr 0.5fr;
	grid-template-columns: 0.5fr 0.5fr;
}

@media screen and (max-width: 560px) {
	.upper-container {
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		row-gap: 1.5rem;
	}
}

#TargetContainer {
	padding: 0.5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@media screen and (max-width: 560px) {
	#TargetContainer {
		margin: 0 auto;
		padding: 1rem 2rem;
	}
}

.target-options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.target-options input {
	width: 80%;
}

#TargetAmount:focus {
	outline: 0;
	-webkit-box-shadow: 0px 0px 30px 5px var(--secondary);
	        box-shadow: 0px 0px 30px 5px var(--secondary);
}

#PlayButton {
	padding: 0.3rem;
}

#PlayButton:hover {
	-webkit-box-shadow: 0px 0px 30px 5px var(--secondary);
	        box-shadow: 0px 0px 30px 5px var(--secondary);
}

#TargetSpeed, #TargetSpeedLabel {
	display: none;
}

.lower-container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 30% auto;
	grid-template-columns: auto 30% auto;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 2.5vh;
	text-align: center;
}

@media screen and (max-width: 560px) {
	.lower-container {
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		row-gap: 1.5rem;
	}
}

.lower-container > div:first-child {
	font-size: 3vh;
}

.timer {
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	font-size: 4vh;
	padding: 0.5rem;
	text-align: center;
	line-height: 1;
	background-color: var(--secondary);
	border: 0.5vh solid var(--quaternary);
	margin: 0 auto;
}

.costum-checkbox {
	display: block;
	position: relative;
	padding-left: 2.5vh;
	font-size: 2vh;
	text-align: left;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media screen and (max-width: 560px) {
	.costum-checkbox {
		font-size: 2.5vh;
	}
}

.costum-checkbox > input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 0;
	height: 2vh;
	width: 2vh;
	background-color: var(--secondary);
	border: 0.4vh solid var(--quaternary);
}

.costum-checkbox input:checked ~ .checkmark {
	background-color: var(--quinary);
}

input[type=range] {
	-webkit-appearance: none;
	border-radius: 5px;
	height: 1.5vh;
	background: var(--secondary);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	border: 0;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

input[type=range]:hover {
	opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2.5vh;
	height: 2.5vh;
	border-radius: 50%;
	background: var(--quinary);
	cursor: pointer;
}

input[type=range]::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--quinary);
	cursor: pointer;
}