* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    min-height: 100%;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3) inset, 
    -2px -2px 9px rgba(0, 0, 0, 0.3) inset;
            box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3) inset, 
    -2px -2px 9px rgba(0, 0, 0, 0.3) inset;
    font-size: 1em;
    color: var(--tertiary-color);
    font-family: sans-serif;
}

@media screen and (min-width: 516px) {
    html {
        font-size: 1.2em;
    }
}

:root {
    --primary-color: #141413;
    --secondary-color: rgb(215, 215, 215);
    --tertiary-color: white;
    --quaternary-color: #0e0e0e;
    --emphasis-color: #303F9F;
}

body {
    min-height: 100%;
    background: var(--primary-color);
}

.navigation-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: sticky;
    background: var(--quaternary-color);
    padding: 1.3rem 0.7rem;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 4px solid var(--emphasis-color);
    font-size: 1.6rem;
    color: var(--secondary-color);
}

.navigation-bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
}

.navigation-bar a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    min-height: 100%;
}

.section-title {
    text-align: center;
    font-size: 3.1em;
    margin: 0 0 1rem;
    -webkit-text-decoration: underline solid;
            text-decoration: underline solid;
}

section {
    margin: 0 auto 1rem;
    padding: 0.5rem;
}

.separative-line {
    border: none;
    border-top: 2px solid var(--secondary-color);
    margin: 2rem auto;
    width: calc(100% - 1.2rem);
    max-width: 80rem;
}

.emphasize-text {
    -webkit-text-decoration: underline solid;
            text-decoration: underline solid;
    color: var(--emphasis-color);
}

.project-gallery {
    display: -ms-grid;
    display: grid;
    row-gap: 0.8rem;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .project-gallery {
        -ms-grid-columns: 0.5fr 0.5fr;
        grid-template-columns: 0.5fr 0.5fr;
    }
}

.project-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.5rem;
    z-index: 1;
}

.project-box img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 0.4rem);
    height: auto;
}

.SMS-image:hover {
    -webkit-animation: SMS-animation 2s ease-out 0.5s infinite normal forwards;
            animation: SMS-animation 2s ease-out 0.5s infinite normal forwards;
}

@-webkit-keyframes SMS-animation {
    from {
        content: url(Images/SMSscreenshot2.png);

    }

	to {
        content: none;
	}
}

@keyframes SMS-animation {
    from {
        content: url(Images/SMSscreenshot2.png);

    }

	to {
        content: none;
	}
}

.flexidy-image:hover {
    -webkit-animation: flexidy-animation 2s ease-out 0.5s infinite normal forwards;
            animation: flexidy-animation 2s ease-out 0.5s infinite normal forwards;
}

@-webkit-keyframes flexidy-animation {
    from {
        content: url(Images/FlexidyScreenshot2.png);

    }

	to {
        content: none;
	}
}

@keyframes flexidy-animation {
    from {
        content: url(Images/FlexidyScreenshot2.png);

    }

	to {
        content: none;
	}
}

.aim-trainer-image:hover {
    -webkit-animation: accuracy-project-animation 2s ease-out 0.5s infinite normal forwards;
            animation: accuracy-project-animation 2s ease-out 0.5s infinite normal forwards;
}

@-webkit-keyframes accuracy-project-animation {
    from {
        content: url(Images/AccuracyScreenshot2.png);

    }

	to {
        content: none;
	}
}

@keyframes accuracy-project-animation {
    from {
        content: url(Images/AccuracyScreenshot2.png);

    }

	to {
        content: none;
	}
}

.matching-project-image:hover {
	-webkit-animation: matching-project-animation 2s ease-out 0.5s infinite normal forwards;
	        animation: matching-project-animation 2s ease-out 0.5s infinite normal forwards;
}

@-webkit-keyframes matching-project-animation {
    from {
        content: url(Images/MatchingScreenshot2.png);

    }

	to {
        content: none;
	}
}

@keyframes matching-project-animation {
    from {
        content: url(Images/MatchingScreenshot2.png);

    }

	to {
        content: none;
	}
}

.project-box h1 {
    text-align: center;
    margin: 0 0 1rem;
    -webkit-text-decoration: underline solid var(--emphasis-color);
            text-decoration: underline solid var(--emphasis-color);

}

.project-box p {
    margin: 0.5rem 0;
}

.project-button {
    text-align: center;
    padding: 0.7rem 0;
    margin: auto 0 0;
}

.project-button a {    
    text-decoration: none;
    color: inherit;
    background-color: var(--emphasis-color);
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    margin: 1rem auto;
    font-size: 1.7em;
    text-align: center;
}

.contact-section {
    background: var(--quaternary-color);
    margin-bottom: 0;
    padding: 4rem 1rem;
}

.contact-container {
    max-width: 55rem;
    margin: 0 auto;
    padding-top: 1rem;
}

.contact-container > * {
    margin: 0 auto 2rem;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    border: 5px solid var(--tertiary-color);
    -webkit-box-shadow: 10px 10px var(--emphasis-color);
            box-shadow: 10px 10px var(--emphasis-color);
    -webkit-transition: -webkit-box-shadow 0.6s;
    transition: -webkit-box-shadow 0.6s;
    -o-transition: box-shadow 0.6s;
    transition: box-shadow 0.6s;
    transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
}

.contact-container > *:hover {
    -webkit-box-shadow: 20px 20px var(--emphasis-color);
            box-shadow: 20px 20px var(--emphasis-color);
}

@media screen and (min-width: 525px) {
    .contact-container > * {
        margin: 0 auto 1rem;
    }
}

.contact-container h1 {
    text-transform: uppercase;
    padding: 0.7rem;
}

.contact-container a {
    color: inherit;
    text-decoration: none;
}

.contact-media-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 0.6rem;
       -moz-column-gap: 0.6rem;
            column-gap: 0.6rem;
}

.contact-media-links > a:hover {
    background: var(--primary-color);
}

.contact-media-links .icon {
    width: 4rem;
    height: 4rem;
}

/* Social media links */
.media-mouseover-section {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
}

.media-mouseover-section:hover .media-container {
    -webkit-transform: translate(0, -45%);
        -ms-transform: translate(0, -45%);
            transform: translate(0, -45%);
}

.media-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(100%, -45%);
        -ms-transform: translate(100%, -45%);
            transform: translate(100%, -45%);
    right: 0;
    border: 2px solid var(--emphasis-color);
    background: var(--primary-color);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
}

.media-container > a:hover {
    background: var(--quaternary-color);
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.7rem;
}

@media screen and (min-width: 768px) {
    .media-mouseover-section {
        display: block;
    }
}

@media screen and (min-width: 1240px) {
    .media-container-show {
        -webkit-transform: translate(0, -45%);
            -ms-transform: translate(0, -45%);
                transform: translate(0, -45%);
    }
}