* {
    box-sizing: border-box;

}

html {
    min-height: 100%;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3) inset, 
    -2px -2px 9px rgba(0, 0, 0, 0.3) inset;
    font-size: 0.8em;
    color: var(--tertiary-color);
    font-family: sans-serif;
}

@media screen and (min-width: 516px) {
    html {
        font-size: 1.1em;
    }
}

:root {
    --primary-color: #121212;
    --secondary-color: rgb(215, 215, 215);
    --tertiary-color: white;
    --quaternary-color: #0f0f0f;
    --emphasis-color: #303F9F;
}

body {
    min-height: 100%;
    background: var(--primary-color);
}

.navigation-bar {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    background: var(--quaternary-color);
    padding: 1.3rem 1.5rem;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 4px solid var(--emphasis-color);
    font-size: 1.7rem;
    color: var(--secondary-color);
}

.navigation-bar nav {
    display: flex;
    gap: 1.5rem;
}

.navigation-bar a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    min-height: 100%;
}

.section-title {
    text-align: center; 
    font-size: 3.5em;
    margin: 0 0 1rem;
    text-decoration: underline solid;
}

section {
    margin: 0 auto 1rem;
    padding: 0.5rem;
}

.separative-line {
    border: none;
    border-top: 2px solid var(--secondary-color);
    margin: 2rem auto;
    width: calc(100% - 1.2rem);
    max-width: 80rem;
}

.emphasize-text {
    text-decoration: underline solid;
    color: var(--emphasis-color);
}

.project-gallery {
    display: grid;
    row-gap: 0.8rem;
    column-gap: 0.8rem;
    grid-template-rows: auto;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .project-gallery {
        grid-template-columns: 0.5fr 0.5fr;
    }
}

.project-box {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.7rem;
    z-index: 1;
}

.project-box img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 0.4rem);
    height: auto;
}

.SMS-image {
    content: url(Images/SMSscreenshot.png);
}

.SMS-image:hover {
    animation: SMS-animation 2s ease-out 0.5s infinite normal forwards;
}

@keyframes SMS-animation {
    from {
        content: url(Images/SMSscreenshot2.png);

    }

	to {
        content: url(Images/SMSscreenshot.png);
	}
}

.flexidy-image {
    content: url(Images/FlexidyScreenshot.png);
}

.flexidy-image:hover {
    animation: flexidy-animation 2s ease-out 0.5s infinite normal forwards;
}

@keyframes flexidy-animation {
    from {
        content: url(Images/FlexidyScreenshot2.png);

    }

	to {
        content: url(Images/FlexidyScreenshot.png);
	}
}

.accuracy-game-image {
    content: url(Images/AccuracyScreenshot.png);
}

.accuracy-game-image:hover {
    animation: accuracy-project-animation 2s ease-out 0.5s infinite normal forwards;
}

@keyframes accuracy-project-animation {
    from {
        content: url(Images/AccuracyScreenshot2.png);

    }

	to {
        content: url(Images/AccuracyScreenshot.png);
	}
}

.matching-project-image {
    content: url(Images/MatchingScreenshot.png);
}

.matching-project-image:hover {
	animation: matching-project-animation 2s ease-out 0.5s infinite normal forwards;
}

@keyframes matching-project-animation {
    from {
        content: url(Images/MatchingScreenshot2.png);

    }

	to {
        content: url(Images/MatchingScreenshot.png);
	}
}

.project-box h1 {
    text-align: center;
    margin: 0 0 1rem;
    text-decoration: underline solid var(--emphasis-color);

}

.project-box p {
    margin: 0.5rem 0;
}

.project-button {
    text-align: center;
    padding: 0.7rem 0;
    margin: auto 0 0;
}

.project-button a {    
    text-decoration: none;
    color: inherit;
    background-color: var(--emphasis-color);
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    margin: 1rem auto;
    font-size: 1.7em;
    text-align: center;
}

.contact-section {
    background: var(--quaternary-color);
    margin-bottom: 0;
    padding: 3rem 1rem 5rem;
}

.contact-container {
    max-width: 55rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-right: 9px solid var(--tertiary-color);
    border-bottom: 9px solid var(--tertiary-color);
}

.contact-container > * {
    margin: 0 0 2rem;
    padding: 0.7rem;
    width: -moz-fit-content;
    width: fit-content;
    border: 5px solid var(--tertiary-color);
    box-shadow: -10px 10px var(--emphasis-color);
    transition: box-shadow 0.6s;
}

.contact-container > *:hover {
    box-shadow: -15px 15px var(--emphasis-color);
}

@media screen and (min-width: 525px) {
    .contact-container > * {
        margin: 0 0 1rem;
    }
}

.contact-container h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.contact-container a {
    color: inherit;
    text-decoration: none;
}

.contact-media-links {
    display: flex;
    column-gap: 2rem;
}

.contact-media-links .icon {
    width: 4rem;
    height: 4rem;
}

/* Social media links */
.media-mouseover-section {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
}

.media-mouseover-section:hover .media-container {
    transform: translate(0, -45%);
}

.media-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: fixed;
    padding: 0.7rem;
    top: 50%;
    transform: translate(100%, -45%);
    right: 0;
    border: 2px solid var(--emphasis-color);
    background: var(--primary-color);
    transition: transform 400ms;
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
}

@media screen and (min-width: 768px) {
    .media-mouseover-section {
        display: block;
    }
}

@media screen and (min-width: 1240px) {
    .media-container-show {
        transform: translate(0, -45%);
    }
}